nav {
    a {
        border: 2px solid $medium-grey;
        border-bottom: 2px solid $light-grey;
        padding: 1rem 1.5rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $grey;
        margin: 0;
        margin-right: 0.5rem;
        display: inline-block;
        background-color: $light-grey;

        &:hover {
            cursor: pointer;
            color: $darker-cyan;
        }

        &.active {
            background-color: $cyan;
            color: $white;
            border: 2px solid $cyan;

            &:hover {
                background-color: $darker-cyan;
            }
        }
    }
}
